<?xml version="1.0" encoding="UTF-8"?>
<module version="2.0">
   <meta>
      <identity>
         <uri>urn:net:bosatsu:sparql</uri>
         <version>1.0.0</version>
      </identity>
      <info>
         <name>A SPARQL Module</name>
         <description>SPARQL Protocol Support and other goodies</description>
         <icon>res:/sparql/pub/icon.png</icon>
      </info>
   </meta>
   <system>
      <dynamic/>
   </system>
   <rootspace name="A SPARQL Module - Development Space" uri="urn:net:bosatsu:sparql">
      <fileset>
         <regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
      </fileset>
      <overlay>
	     <prototype>RESTOverlay</prototype>
	     <config>
			<basepath>/</basepath>
		 </config>
         <space>
			<import>
				<uri>urn:net:bosatsu:sparql:impl</uri>
			</import>
         </space>
      </overlay>
	<import>
		<private/>
		<uri>urn:org:netkernel:tpt:http</uri>
	</import>
      <fileset><!--Icon-->
         <regex>res:/sparql/pub/(.*)</regex>
         <rewrite>res:/resources/pub/$1</rewrite>
      </fileset>
   </rootspace>

   <rootspace name="A SPARQL Module - Impl" uri="urn:net:bosatsu:sparql:impl">
	<mapper>
		<config>
			<import>res:/resources/config/mapperConfig.xml</import>
		</config>
		<space>
			<fileset>
				<regex>res:/resources/.*</regex>
			</fileset>
			<import>
               <uri>urn:org:netkernel:lang:groovy</uri>
            </import>
			<import>
				<uri>urn:org:netkernel:rdf:jena</uri>
			</import>
			<import>
			  <uri>urn:org:netkernel:client:http</uri>
			</import>
		</space>
	</mapper>
   </rootspace>

   <rootspace name="A SPARQL Module - Documentation Space" public="true" uri="urn:net:bosatsu:sparql:doc">
      <fileset>
         <regex>res:/etc/system/(Books|Docs).xml</regex>
      </fileset>
      <fileset>
         <regex>res:/resources/doc/.*</regex>
      </fileset>
   </rootspace>
   <rootspace name="A SPARQL Module - Unit Test Space" public="true" uri="urn:net:bosatsu:sparql:test">
      <fileset>
         <regex>res:/etc/system/Tests.xml</regex>
      </fileset>
      <fileset>
         <regex>res:/resources/test/.*</regex>
      </fileset>
      <endpoint><!-- stop any configuration from module under test from polluting address space -->
         <prototype>Limiter</prototype>
         <grammar>res:/etc/
            <regex type="anything"/>
         </grammar>
      </endpoint>
      <import><!-- import the main space which we are testing -->
         <uri>urn:net:bosatsu:sparql</uri>
      </import>
      <import>
         <uri>urn:org:netkernel:ext:layer1</uri>
         <private/>
      </import>
   </rootspace>
</module>